<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Bienvenue !
			{% endblock %}
		</title>
		<link rel="stylesheet" href="{{ asset('styles/app.css') }}">
	</head>
	<body>
		<header>
			<nav>
				<h1>Mon blog</h1>
				<ul class="nav-ul">
					<li>
						<a href="{{ path('app_home') }}">Accueil</a>
					</li>
					<li>
						<a href="{{ path('app_registration') }}">Inscription</a>
					</li>
					{% if app.user %}
						<li>
							<a href="{{ path('app_logout') }}">Déconnexion</a>
						</li>
					{% else %}
						<li>
							<a href="{{ path('app_login') }}">Connexion</a>
						</li>
					{% endif %}
				</ul>
			</nav>
		</header>

		<main>
			{% block body %}
				{% if app.user %}
					<h2>Bienvenue
						{{ app.user.username }}</h2>
				{% else %}
					<h2>Bienvenue !</h2>
				{% endif %}
			{% endblock %}
		</main>

		<footer>
			<p>Copyright © 2025 Mon Blog</p>
		</footer>
	</body>
</html></body></html>
